@font-face {
  font-family: "Oetztype";
  src: 
  url("/fonts/Oetztype/Oetztype.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/Oetztype/Oetztype.woff") format("woff"), /* chrome、firefox */
  url("/fonts/Oetztype/Oetztype.ttf") format("truetype"),
  url("/fonts/Oetztype/Oetztype.svg#Oetztype") format("svg"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
header{
  overflow: hidden;
  background-color: rgba(0, 0 , 0, 0.8);
}
.hidden{
  font-size: 80px;
  padding-left: 30px;
  padding-right: 30px;

}
.randomizeButton{
  font-family: "Oetztype";
  display: block;
  margin: auto;
  background-color: rgb(254, 198, 0);
  border: 2px;
  border-color: rgb(154, 74, 38);
  box-shadow: 10px;
}
nav{
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0 , 0, 0.8);
}
ul{
  list-style-type: none;
  margin: 0;
}
li{
  display: inline-block;
  margin: 0;
}
.NavButton{
  padding-left: .5vw;
  padding-right: .5vw;
  margin: 0;
  font-size: x-large;
}
.categoryButton{
  display: inline;
  margin: 0;
  border: 0;
  background: transparent;
  color: white;
  font-size: x-large;
  

}
.dropdown-menu{
  background-color: rgba(0, 0 , 0, 0.8);
  border: none;
  text-align: center;
}

.ddItem{
  color: white;
  display: block;
  background-color: transparent;
  font-size: x-large;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Oetztype";
  background-image: url("../public/images/FrozenOver_No_UI.webp");
  background-size: 100vw 100vh;
  color: white;

}
.monkey{
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
  padding-right: 10px;
  margin: 0;
}
.Link{
  margin: 0;
}
p{
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: rgba(0, 0 , 0, 0.8);
}
