:root{
    --charcoal: rgb(44, 47, 53);
    --dark-blue: rgb(6, 22, 35);
    --peach-puff: #ebcfb2ff;
    --navajo-lightgrey: #ffdda1ff;
    --maize-crayola: #ffd151ff;
    --saffron: #f8c537ff;
    --maximum-yellow-red: #edb230ff;
    --princeton-orange: #e77728ff;
    --smoky-black: #12130fff;
    --illuminating-emerald: #5b9279ff;
    --illuminating-emerald-dark: rgb(73, 117, 97);
    --eton-blue: #8fcb9bff;
    --platinum: #eae6e5ff;
    --middle-grey: #8f8073ff;
    --light-grey: rgb(210,210,210);
  
}
@font-face {
    font-family: "Oetztype";
    src: 
    url("/fonts/Oetztype/Oetztype.woff2") format("woff2"), /* chrome、firefox */
    url("/fonts/Oetztype/Oetztype.woff") format("woff"), /* chrome、firefox */
    url("/fonts/Oetztype/Oetztype.ttf") format("truetype"),
    url("/fonts/Oetztype/Oetztype.svg#Oetztype") format("svg"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.vip{
    padding-top: 20px;
    color: var(--light-grey);
}
.vip main{
    max-width: 700px;
    margin: auto;
}
.vip header{
    max-width: 700px;
    margin: auto;
}
.vip h3{
    font-size: 24px;
}
.vip h2{
    color: var(--light-grey);
}
.vip h3{
    color: var(--light-grey);
}
.vip ul{
    color: var(--light-grey);
    list-style-type: none;
}
.vip .t5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.vip .t51{
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
}
.vip .t52{
    text-align: left;
    grid-template-columns: 2 / 3;
    grid-template-rows: 1 /2 ;
}
.vip .t53{
    grid-template-columns: 1 / 2;
    grid-template-rows: 2 / 3 ;
}
.vip .t54{
    text-align: left;
    grid-template-columns: 2 /3;
    grid-template-rows: 2 / 3;
}
.vip .t55{
    grid-template-columns: 1 /2;
    grid-template-rows: 3 / 4;
}
.vip .t56{
    text-align: left;
    grid-template-columns:  2 / 3;
    grid-template-rows: 3 /4;
}
.vip .t57{
    grid-template-columns: 1 /2;
    grid-template-rows: 4 /5;
}
.vip .t58{
    text-align: left;
    grid-template-columns: 2 /3;
    grid-template-rows: 4 /5;
}
.vip .t59{
    grid-template-columns: 1 /2;
    grid-template-rows: 5 /6;
}
.vip .t510{
    text-align: left;
    grid-template-columns: 2/ 3;
    grid-template-rows: 5 /6;
}
.vip .t3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.vip .t31{
    grid-template-columns: 1 / 2;
    grid-template-rows: 1/ 2;
}
.vip .t32{
    text-align: left;
    grid-template-columns: 2 / 3;
    grid-template-rows: 1/ 2;
}
.vip .t33{
    grid-template-columns: 1 / 2;
    grid-template-rows: 2 / 3;
}
.vip .t34{
    text-align: left;
    grid-template-columns: 2 / 3;
    grid-template-rows: 2 / 3;
}
.vip .t35{
    grid-template-columns: 1 / 2;
    grid-template-rows: 3 / 4;
}
.vip .t36{
    text-align: left;
    grid-template-columns: 2 / 3;
    grid-template-rows: 3 / 4;
}
.vip .t37{
    grid-template-columns: 1 / 2;
    grid-template-rows: 4 / 5;
}
.vip .t38{
    text-align: left;
    grid-template-columns: 2 / 3;
    grid-template-rows: 4 / 5;
}
.vip .form-control, .vip .form-control::after, .vip .form-control:visited, .vip .form-control:focus{
    font-family:  "Oetztype";
    max-width: 500px;
    width: 90vw;
    text-align: center;
    color: var(--light-grey);
    margin: auto;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    background-color: var(--smoky-black);
}
.vip input{
    color: var(--light-grey);
}
.vip a{
    padding-bottom: 10px;
    text-decoration: none;
}
